project/boot/
project/target/
src/testproject/project/boot/
src/testproject/project/plugins/project/
src/testproject/project/plugins/target/
src/testproject/project/target/
src/testproject/target/
target/
src/testproject/.history
*.sublime-*
/.idea
